/* DetailsCard.css */
.project-box {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    color: black; /* Ensure text color is black */
  }
  
  .project-box h3,
  .project-box h5,
  .project-box p {
    color: black; /* Ensure text color is black */
  }
  
  .project-box h3 {
    width: 100%; /* Make the title fill the whole container */
    text-align: center; /* Center the text */
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-start {
    text-align: left;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  
  .container {
    max-width: 600px;
  }
  
  @media (min-width: 768px) {
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  }
  