.nav {
    padding: 0.5rem 1rem; /* Reduced padding */
  }
  
  .title {
    padding-left: 5px;
  }
  
  .img11 {
    height: 30px;
    width: 30px;
  }
  
  .nav-item {
    margin: 0 0.5rem; /* Adjust spacing between nav items */
  }
  
  .nav-link {
    padding: 0.5rem; /* Adjust padding for nav links */
  }
  