/* General Styles */
.home-container {
  position: relative;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/img4.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-attachment: fixed;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(13, 13, 13, 0.496), rgba(18, 18, 18, 0.523));
  z-index: 1;
  pointer-events: none;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1 {
  font-size: 12vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.search-form {
  width: 70%;
}

.form-control {
  width: 100%;
}

.btn {
  width: auto;
}

/* Media Queries for Responsiveness */
@media (min-width: 1200px) {
  .search-form {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .search-form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .card-img-overlay {
    padding: 10px;
  }

  .p1 {
    font-size: 9vh; /* Increased font size for phone view */
  }

  h1 {
    font-size: 2.5rem; /* Adjusted font size */
  }

  p {
    font-size: 1.2rem;
  }

  .search-form {
    width: 80%;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filters button {
    width: 30%; /* Reduced width for buttons */
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .p1 {
    font-size: 7vh; /* Increased font size for smaller phone view */
  }

  h1 {
    font-size: 2rem; /* Adjusted font size */
  }

  p {
    font-size: 0.8rem;
  }

  .filters button {
    width: 40%; /* Further reduced width for buttons on small screens */
    margin-bottom: 10px;
  }

  .search-form {
    width: 90%; /* Full width search form on small screens */
  }

  .search-page ul.nav {
    flex-direction: row;
    padding: 0;
    margin-bottom: 20px;
  }

  .search-page ul.nav .nav-item {
    margin-right: 20px;
  }
}
